:root {
  --nav-width: 18.75rem;     /* 300px ÷ 16 = 18.75rem */
  --nav-width-md: 18.75rem;
}

.side-bar {
  width: var(--nav-width);
}

.main {
  margin-left: var(--nav-width);
}

@media (min-width: 50rem) {
  .side-bar {
    width: var(--nav-width-md);
  }

  .main {
    margin-left: var(--nav-width-md);
  }
}
