:root {
  --nav-width: 18.75rem;     /* 300px ÷ 16 = 18.75rem */
  --nav-width-md: 18.75rem;
}

// .side-bar {
//   width: var(--nav-width);
// }

// .main {
//   margin-left: var(--nav-width);
// }

// @media (min-width: 50rem) {
//   .side-bar {
//     width: var(--nav-width-md);
//   }

//   .main {
//     margin-left: var(--nav-width-md);
//   }
// }

.category-tag {
  display: inline-block;
  padding: 0.2em 0.5em;
  margin: 0 0.2em;
  border-radius: 40px;
  border: thin solid #7253ed;
  font-size: 0.8em;
  text-decoration: none;

  &:hover {
    background-color: #7253ed;
    color: #ffffff;
  }
}

.post-categories {
  margin: 0.5em 0;
  display: flex;
}
